@{
    ViewBag.Title = "User Page";
}

<script type="text/javascript">

    $(function () {
        //pageInit();
        GetData();
    });
    function pageInit() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("/User/GetUserList")",
            datatype: "json",
            height: $(window).height() - 250,
            autowidth: true,
            colNames: ['账户', '昵称', '最后活动时间', '最后登录时间', '用户类型', '状态'],
            colModel: [
                         { name: 'LoginName', index: 'LoginName', width: 55 },
                         { name: 'NiceName', index: 'NiceName', width: 90 },
                         { name: 'LastOpreateDate', index: 'LastOpreateDate', width: 100 },
                         { name: 'LastLoginDate', index: 'LastLoginDate', width: 80, align: "right" },
                         {
                             name: 'UserType', index: 'UserType', width: 80, align: 'center',
                             formatter: function (cellvalue) {
                                 if (cellvalue == "0") return "系统用户";
                                 if (cellvalue == "1") return "正常用户";
                             }
                         },
                         {
                             name: 'UserStatus', index: 'UserStatus', width: 80, align: 'center',
                             formatter: function (cellvalue) {
                                 if (cellvalue == "0") return "正常";
                                 if (cellvalue == "1") return "限制登录";
                                 if (cellvalue == "2") return "删除";
                             }
                         }
            ],
            rowNum: 20,
            rowList: [10, 20, 50, 100],
            pager: '#gridPager',
            sortname: 'userID',
            mtype: "post",
            viewrecords: true,
            sortorder: "asc",
            caption: "用户列表"//表格的标题名字
        }).navGrid("#gridPager", { edit: false, add: false, del: false });
    }
    function GetData() {

        $('#gridTable').bootstrapTable({
            url: '@Url.Content("/User/GetUserList")',
            columns: [{
                field: 'userID',
                title: 'Item ID'
            }, {
                field: 'LoginName',
                title: 'Item Name'
            }, {
                field: 'NiceName',
                title: 'Item Price'
            }]
        });
    }
</script>



<div class="panel-default">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
