@{
    ViewBag.Title = "Registr Page";
}

<div class="panel  panel-default">
    <div class="panel-heading">
        用户注册
    </div>
    <div class="panel-body">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>
