<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="Licence" value="NO:2013101712345678" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
  <add key="ComponentDbType" value="SqlServer" />
  <!-- 连接字符串是否加密-->
  <add key="ConStringDESEncrypt" value="false" />
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- ================== 2：这里主要是服务器端配置项内容部分 ================== -->
  <add key="IocConfigPath" value="Configuration//Windsor.config"/>
  <!-- 允许重复登录,多人用同一帐号同时登录 -->
  <add key="CheckOnLine" value="false" />
  <!-- IP限制验证 -->
  <add key="VerifyIPAddress" value="false" />

  <!-- 是否启动服务器缓存-->
  <add key="IsCache" value="true" />
  <!-- 服务器缓存设置时间（分钟）-->
  <add key="CacheTime" value="13" />

  <!--某个数据的依赖项 web.config 设置Caching/sqlCacheDependency 需有CacheDB-->
  <add key="CacheDBName" value="CacheDB" />
  <add key="UserDataDependency" value="T_User" />
  <add key="StudentDataDependency" value="T_Student" />


  <!-- ================== 3：系统性的参数配置 ================== -->
  <!-- 软件是否试用 -->
  <add key="IsRegistration" value="" />
  <!-- 软件注册码 -->
  <add key="RegistrationCode" value="" />
  <!-- 当前客户公司名称 -->
  <add key="CustomerCompanyName" value="" />
  <!-- 软件名称 -->
  <add key="SoftName" value="" />
  <!-- 当前软件版本 -->
  <add key="Version" value="1.0" />
  <!-- 联系我们信息 -->
  <add key="Contact" value="" />
  <!-- 软件许可证编号 -->

  <!-- ================== 4：系统邮件错误报告反馈相关 ================== -->
  <!-- 定义电子邮箱用户名 -->
  <add key="EmailUserName" value="liuyuduen" />
  <!-- 定义电子邮箱密码 -->
  <add key="EmailUserPassword" value="375298432LrH" />
  <!-- 定义电子邮箱地址 -->
  <add key="EmailAddress" value="liuyuduen@163.com" />
  <!--  定义SMTP服务器 如cj@163.com的服务器地址为：smtp.163.com -->
  <add key="SmtpServer" value="smtp.163.com" />
</appSettings>