@{
    ViewBag.Title = "System Page";
}
<script type="text/javascript">
    $(function () {
        GetGrid();
    });

    function GetGrid() {
        $("#gridTable").jqGrid({
            url: "@Url.Content("/CustomerModule/CustomerBase/GridPageListJson")",
            datatype: "json",
            height: $(window).height() - 250,
            autowidth: true,
            colModel: [
            { label: '主键', name: 'customerid', index: 'customerid', width: 80, hidden: true },
            { label: "持卡人", name: "realname", index: "realname", width: 100, align: "center" },
            { label: '用户名', name: 'username', index: 'username', width: 100, align: "center" },
            { label: "账户余额", name: "accountmoney", index: "accountmoney", width: 100, align: "center" },
            { label: "登录IP", name: "loginip", index: "loginip", width: 200, align: "center" },
            {
                label: '登录时间', name: 'lastreporttime', index: 'lastreporttime', width: 200, align: "center",
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                }
            },
            {
                label: '状态', name: 'status', index: 'status', width: 80, align: 'center',
                formatter: function (cellvalue) {
                    if (cellvalue == "0") return "正常";
                    if (cellvalue == "1") return "限制登录";
                    if (cellvalue == "2") return "黑名单";
                    if (cellvalue == "3") return "异常账户";
                }
            }
            ],
            viewrecords: true,
            rowNum: 20,
            rowList: [10, 20, 50, 120],
            pager: "#gridPager",
            sortname: 'lastreporttime',
            sortorder: 'desc',
            rownumbers: true,
            gridview: true

        });
        columnModelData("#gridTable");
    }
</script>

<div class="panel  panel-default">
    <div class="panel-heading">
        系统列表
    </div>
    <div class="panel-body">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>
